{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb/base",
    "plugin:vue/recommended"
  ],
  "rules": {
    "semi": [2, "never"],
    "import/extensions": ["error", "always", {
      js: "never",
      vue: "never"
    }]
  },
  "settings": {
    "import/core-modules": ["vue", "vuex"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".vue"]
      }
    }
  }
}
